h1 {
  color: #f3ff50;
}

body {
  background-color: #b1acac;
}

.container {
  display: flex;
  background-color: #bcd8f1;
  justify-content: center;
  align-items: center;
}

.inputLabel {
  color: #777474;
}

.lists {
  font-size: large;
}
