h1 {
  color: #f3ff50;
}

body {
  background-color: #b1acac;
}

.container {
  display: flex;
  background-color: #bcd8f1;
  justify-content: center;
}

.submit {
  background-color: #77eb4a;
  color: #ffffff;
  border: none;
}

.inputLabel {
  color: #777474;
}

.lists {
  font-size: 20px;
}

footer {
  row-gap: 10px;
}
