h1 {
  color: #f3ff50;
}

body {
  background-color: #b1acac;
}

.container {
  display: flex;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 30px;
  column-gap: 5px;
  row-gap: 5px;
  background-color: #bcd8f1;
  justify-content: center;
}

/* #inputContainer {

}

header {

}

.lists {

} */
